target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.jar
!**/src/test/resources/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springbeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nbbuild/

### VS Code ###
.vscode/

### Others ###
project.zip
.DS_Store
